<ion-view hide-nav-bar="true">
    <div class="welcome-slider" style="padding: 1em;">
        <div class="onboarding-title">Darasa</div>

        <div class="list">
            <form name="uniForm" novalidate>
                <ion-input class="item item-input input-item1">
                    <input type="text" placeholder="School Name e.g. St. Mary's'" ng-model="institution.name" required>
                </ion-input>

                <ion-input class="item item-input input-item1">
                    <input type="text" placeholder="System e.g. GCSE, 844" ng-model="institution.system" required>
                </ion-input>

                <ion-input class="item item-input input-item1">
                    <input type="text" placeholder="Level e.g. Year 9, Form 3" ng-model="institution.level" required>
                </ion-input>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="welcome-container">
                <button class="button button-outline login-button" ng-click="loginUser()">
                    Skip
                </button>
            </div>
        </div>
        <div class="col">
            <div class="welcome-container">
                <button class="button signup-button" ng-click="finishHighSchool()">
                    Finish
                </button>
            </div>
        </div>
    </div>
</ion-view>