<ion-view hide-nav-bar="true">
    <div class="welcome-slider" style="padding: 1em;">
        <div class="onboarding-title">Darasa</div>

        <div class="onboarding-explanation">
            I am a ...
        </div>

        <button class="button button-light button-block" ng-click="goToUni()">
            <span>UNIVERSITY Student</span>
            <!--<span class="onboarding-eg"> e.g. UON</span>-->
        </button>

        <button class="button button-light button-block" ng-click="goToProf()">
            <span>CPA Student</span>
            <!--<span class="onboarding-eg"> e.g. CPA</span>-->
        </button>

        <!--<button class="button button-light button-block" ng-click="goToHighSchool()">
            <span>HIGH SCHOOL</span>
            <span class="onboarding-eg"> e.g. St. Mary's</span>
        </button>-->
    </div>
    <div class="row">
        <div class="col">
            <div class="welcome-container">
                <button class="button button-outline login-button" ng-click="loginUser()">
                    Skip
                </button>
            </div>
        </div>
    </div>
</ion-view>