
<ion-view view-title="My topics">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-android-more-vertical" ng-click="openPopover($event)"></button>
  </ion-nav-buttons>
  <ion-content view-title="My topics">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
      <ion-list>
          <ion-item class="item-divider">
              My topics
          </ion-item>

          <ion-item ng-repeat="ownedTopic in ownedTopics" href="" on-tap="questions(ownedTopic.id, ownedTopic.name)" ng-show="ownedTopics.length >= 1" ng-cloak>
              <span ng-bind="ownedTopic.name"></span>
          </ion-item>
          <ion-item ng-hide="ownedTopics.length >= 1" ng-cloak>
              You don't own any topics
          </ion-item>

          <ion-item class="item-divider">
              Sample topics
          </ion-item>

          <ion-item ng-repeat="sampleTopic in sampleTopics" href="" on-tap="questions(sampleTopic.id, sampleTopic.name)" ng-show="sampleTopics.length >= 1" ng-cloak>
              <span ng-bind="sampleTopic.name"></span>
          </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
