<ion-view view-title="Profile">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content view-title="Profile">
      <div class="item item-avatar">
        <img ng-src="{{picture}}">
        <h2 ng-bind="email"></h2>
        <span ng-bind="firstName"></span> <span ng-bind="lastName"></span>
      </div>

      <div class="item item-icon-left" ng-click="submitFeedback()" href="">
        <i class="icon ion-chatboxes"></i>
        Send feedback
      </div>
      <div class="item item-icon-left" ng-click="logout()" href="">
        <i class="icon ion-log-out"></i>
        Logout
      </div>
    </div>
  </ion-content>
</ion-view>
