<ion-view hide-nav-bar="true">
    <ion-slide-box class="welcome-slider">
        <ion-slide>
            <div class="welcome-logo-header">
                <img class="welcome-logo" src="img/headonly.png" />
            </div>

            <div class="welcome-text">Past Paper Solutions</div>
        </ion-slide>

        <ion-slide>
            <div class="welcome-logo-header2">
                <div class="row">
                    <div class="col" style="position: relative;">
                        <span class="welcome-title">Darasa</span>
                        <span class="other-welcome-title">How it works</span>
                    </div>
                    <div class="col col-33">
                        <img class="welcome-logo2" src="img/headonly2.png" />
                    </div>
                </div>

                <hr class="welcome-line">

                <p class="welcome-explanation">
                    Find detailed past paper solutions for your Degree (e.g. Bcom) or
                    Professional Qualification (e.g. CPA)
                </p>

                <hr class="welcome-line">
            </div>
        </ion-slide>

        <ion-slide>
            <div class="welcome-logo-header2">
                <div class="row">
                    <div class="col" style="position: relative;">
                        <span class="welcome-title">Darasa</span>
                        <span class="other-welcome-title">How it works</span>
                    </div>
                    <div class="col col-33">
                        <img class="welcome-logo2" src="img/headonly2.png" />
                    </div>
                </div>

                <hr class="welcome-line">

                <p class="welcome-explanation">
                    Past Paper Solutions on Darasa are written, vetted and uploaded by vetted
                    lecturers and tutors
                </p>

                <hr class="welcome-line">
            </div>
        </ion-slide>
    </ion-slide-box>
    <div class="row">
        <div class="col">
            <div class="welcome-container">
                <button class="button signup-button" ng-click="goToSignUp()">
                    Sign Up
                </button>
            </div>
        </div>
        <div class="col">
            <div class="welcome-container">
                <button class="button button-outline login-button" ng-click="goToLogin()">
                    Log In
                </button>
            </div>
        </div>
    </div>
</ion-view>